.cadre_entier{
    border: thick double blueviolet;
}
.taille_enveloppe{
    width: 1000px;
    height: 600px;
}
.timbre{
    width: 150px;
}
.zone_de_texte{
    padding-left: 350px;
    
}
.ligne{
    border-bottom: 2px solid blueviolet;
    margin-bottom: 85px;
    width: 70%;
    color : green;
}
.adresse{
    margin-bottom: 55px;
    color : yellowgreen;
}